<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>
<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@user.image.url) if @user.image.present? %>
</p>
<%= link_to 'picture一覧', pictures_path %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
